.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.ant-card {
    width: auto !important
}

.category-card {
    background: #000000;
    padding: 20px;
    border: solid 1px;
    margin: 10px;
    color: white;
}

.song-card {
    background: #000000;
    padding: 20px;
    border: solid 1px;
    margin: 10px;
    color: white;
    margin-bottom: -25px;
}

.general-title {
    color: white;
    padding: 15px;
}
.favoriteAdd{
    position: relative;
    bottom: 15px;
    left: 110px;
}

.favoriteDelete  {
    position: relative;
    bottom: 15px;
    left: 110px;
    color: white;
    background: red;
    border-radius: 4px;
}

.favorite-button {
    height: 40px;
    width: 200px;
    border-radius: 10px;
    background: rgb(135, 208, 104);
    color: white;
}